# Django project files
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

# Static files
/staticfiles/
!.gitkeep

# Media files
/media/

# Database
*.sqlite3

# Environment variables
.env

# IDE-specific files
.vscode/
.idea/

# Dependency directories
venv/
env/